
#firstpage{
    background-image: url("img/IMG_20180804_134732.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 70%;
   
}
#profile{
    background-image: url("img/bg3.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 70%;
    opacity:15%;
}
#leftside{
    background-image: url("img/hand2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.85;
    display:block;
    padding:20px;
    padding-left:5% !important;
}



#pic1{
    background-image: url("img/pj1.2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 70%;
}

/*typewriter*/
.typewriter{
    position: relative;
    top:50%;
    left:35%;

}


a {
    position:absolute;
    top:50%;
    left:20%;
    transform:translate(-50%,-50%);
    width:250px;
    height:60px;
    padding:0 1rem;
    line-height:60px;
    text-align:center;
    border:2px solid #fff;
    font-size:30px;
    text-decoration:none;
    text-transform:uppercase;
    font-family:sans-serif;
    color:#fff;
    overflow:hidden;
}
a span  {
    display:inline-block;
    transition:0.5s;
}
a span:nth-child(odd):before {
    content:attr(data-text);
    position:absolute;
    transform:translateY(100%);
}
a span:nth-child(odd){
    transform:translateY(-100%);
}
a:hover span:nth-child(odd){
    transform:translateY(0);
    color:blue;
}
a span:nth-child(even):before {
    content:attr(data-text);
    position:absolute;
    transform:translateY(-100%);
}

a span:nth-child(even){
    transform:translateY(100%);
}
a:hover span:nth-child(even){
    transform:translateY(0);
    color:#ff0;
}








